@font-face {
  font-family: "Monster";
  src: url("/assets/fonts/Monsterrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

main {
  font-family: "Monster";
  width: 210mm;
  padding: 20px 60px;
  border: 1px solid #D2D2D2; 
  background: #ffffff;
  margin: 0px 8px 0px 0px;

}


img {
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  border: 3px groove black;
  
  border-radius: 50px;
}

.img-1 {
  width: 900px;
}

.img-2 {
  width: 750px;
  border-radius: 0%;
}


pre {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}

h2{
  font-size: xx-large;
}

h3{
  font-size: x-large;
}

h4{
 font-size: large;
}

h5 {
  font-size: medium;
  margin: 10px 0 10px 0;
}

p {
  font-size: medium;
  margin: 10px 0 10px 0;
}
